* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

img {
    width: 100%;
}

footer {
    padding: 15px;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.loader {
    width: 150px;
    display: none;
    margin: auto;
    position: relative;
    top: 35%;
}

.loading .loader {
    display: block;
}

.tile-details .edit-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000
}

.tile-details .edit-modal .modal-data {
    background: #fff;
    padding: 10px;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
}